pipeline/pip_append_activity2.json
{
	"name": "pip_append_activity2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Arrayvar1",
					"value": {
						"value": "@variables('Arrayvar')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Arrayvar",
					"value": {
						"value": "@string('Vish')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Arrayvar1",
					"value": {
						"value": "@variables('Arrayvar')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var3",
					"value": {
						"value": "@{variables('Arrayvar')[0]}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Arrayvar": {
				"type": "Array",
				"defaultValue": [
					"lavan",
					"Chandu"
				]
			},
			"Arrayvar1": {
				"type": "Array"
			},
			"var3": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-09T18:14:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}