pipeline/pip_wildcard_actvity.json
{
	"name": "pip_wildcard_actvity",
	"properties": {
		"activities": [
			{
				"name": "copydata1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "source/SrcEmp",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcedataset2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "targetdataset2",
						"type": "DatasetReference",
						"parameters": {
							"tgt_param": {
								"value": "@variables('tgtvariable')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tgtvariable",
					"value": {
						"value": "@concat('Emp_',utcNow())",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copydata1_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "copydata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "source/SrcEmp",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcedataset2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "targetdataset2",
						"type": "DatasetReference",
						"parameters": {
							"tgt_param": {
								"value": "@variables('tgtvariable')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"tgtfile": {
				"type": "string"
			},
			"srcfile": {
				"type": "string"
			}
		},
		"variables": {
			"tgtvariable": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-03T17:45:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}