pipeline/pip_copy_data.json
{
	"name": "pip_copy_data",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sourcedataset",
						"type": "DatasetReference",
						"parameters": {
							"sourcefilename": {
								"value": "@pipeline().parameters.param_source",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "targetdataset",
						"type": "DatasetReference",
						"parameters": {
							"Dataset_target": {
								"value": "@variables('Targetfile')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Targetfile",
					"value": {
						"value": "@concat('Employee_',utcNow())",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"param_target": {
				"type": "string"
			},
			"param_source": {
				"type": "string"
			}
		},
		"variables": {
			"Targetfile": {
				"type": "String",
				"defaultValue": "var_targetfile"
			},
			"final_target": {
				"type": "String",
				"defaultValue": "emp_"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-02T20:41:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}